* {
    margin: 0;
    padding: 0;
} 

.header {
    background-image: url(../images/eight_horns.png);
    height: 800px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-bottom: 8px solid black;
    position: relative;
}

#name {
    text-align: center;
    position: relative;
    top: 150px;
    width:100%;
}

#name:hover {
    cursor: pointer;
    color:red;
}

.box {
    text-align: center;
    font-size: 20px; 
    color: red;
    font-style: bold;
    height: 50px;
    width: 40%;
    position: relative;
    left:30%;
    top:400px;
    margin:10px;
}

.content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

.main {
    position: relative;
    font-size: 25px;
    padding-top:50px;
}

.title {
    text-align: center;
    background-color: none;
    position: relative;
}

.wrapper {
    position: relative;
    width: 100%;
    background-color: none;
}

.portrait {
    width:80%;
    padding: 10%;
}

.txt {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-size: 18px;
}

#footer {
    position: relative;
    margin: 0px;
    border: 0px;
    padding: 20px;
    height: 100px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
} 

.icon {
    height: 50px;
}

.icon:hover {
    height: 75px;
    opacity: 0.5;
    cursor: pointer;
}

/* /this is the styles for the .portfolio */

.left {
    width: 100%;
}

.port {
    width:80%;
    padding: 10%;
    padding-top: 0;
}

.p-title {
    background-color: #ffffff;
    width: 80%;
    position: relative;
    text-align: center;
    left: 10%;
    top:500px;
}

.p-title:hover {
    opacity: 0.8; 
} 

/* this is the styles for the contatct page */

.wrapper-cont {
    /* background-color: #f24150; */
    position: relative;
    top: 50px;
    height: 650px;
}

.form {
    margin-top: 50px;
}

.formHead {
    width: 80%;
    position: relative;
    left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-bottom: 10px
}

   
.form-control {
    width: 80%;
    background-color: white;
    position: relative;
    left:10%;
    margin-bottom: 20px;
}
    
input {
    height: 45px; 
}
    
.sub {
    background-color: black;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
    
.sub:hover {
    background-color: #f24150;
    cursor: pointer;
}



@media screen and (min-width: 768px)  {
    .header {
        height: 400px;
        width: 100%;
    }

    #name {
        top: 75px;
    }
    .main {
        position: relative;
        font-size: 25px;
        padding-top:150px;
        
    }

    .box {
        width: 40%;
        top:150px;
    }

    .portrait {
        width:60%;
        padding-left :20%;
        padding-right :20%;

    }

    .txt {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        font-size: 18px;
    }

    /* /this is the styles for the .portfolio */

    .album {
        background:none;
        width: 80%;
        padding: 1%;
        position: relative;
        left: 10%;
        display: flex;
        flex-flow: row wrap;
    }

    .left {
        width: 350px;
        background-color:none;
        border:0;
        position: relative;
        left: 5%;
        top:0;
    }

    .p-title {
        position: relative;
        cursor: pointer;
        top: 60%;
        font-size: 26px;
    }

    .port:hover {
        opacity: 0.5;
        cursor: pointer;
        width: 82%;
    }

    /* .left {
        width: 100%;
        top: 100px;
        position: relative;
    }

    .port {
        width:80%;
        padding-left:10%;
        padding-top:0;
    }

    .p-title {
        background-color: #ffffff;
        width: 80%;
        position: relative;
        text-align: center;
        left: 10%;
        top:500px;
    }

    .port:hover {
        opacity: .5;
        cursor: pointer;
    } */

    /* this is the styles for the contatct page */

    .wrapper-cont {
        /* background-color: #f24150; */
        position: relative;
        top: 50px;
        height: 650px;
    }

    .form {
        margin-top: 50px;
    }

    .formHead {
        width: 80%;
        position: relative;
        left: 10%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        padding-bottom: 10px
    }

    
    .form-control {
        width: 80%;
        background-color: white;
        position: relative;
        left:10%;
        margin-bottom: 20px;
    }
        
    input {
        height: 45px; 
    }

    .sub {
        width: 60%;
        left:20%;
        background-color: black;
        margin-top: 50px;
        color: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
        
    .sub:hover {
        background-color: #f24150;
        cursor: pointer;
    }

}

@media screen and (min-width: 1000px)  {
    .box:hover{ 
        background-color: black;
        color:white
    }

    body {
        margin-left: 10%;
        margin-right: 10%;
        background-image:url(../images/eight_horns.png);
    }
    
    .header {
        background-image: none;
        height: 400px;
        width: 100%;
        border-bottom: 5px solid black;
        font-family: 'Roboto Slab', serif;
        position: relative;
    
    }
    
    #name {
        position:absolute;
        top:347px;
        left:15%;
        width: 30%;
        background-color: black;
        color: white;
    }
    
    #name:hover {
        cursor: pointer;
        color: yellow;
    }
    
    .box { 
        width: 120px;
        float: left;
        left:60%;
        top:330px;
        color: red;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .about {
        background-color:whitesmoke;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
         
    }

    .portfolio {
        background-color:whitesmoke;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
        
    }

    .contact {
        background-color:whitesmoke;
        border-left: 3px solid black;
        border-bottom: 3px solid black;
    }

    .content {
        margin: 0px;
        border: 0px;
        border-bottom: 10px solid gray;
        background-color: #ffffff;
        padding: 150px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: relative;
    }
    
    .main {
        background-color: #ffffff;
        width: 80%;
        height:30px;
        padding:1%;
        opacity: none;
        position: relative;
        left: 10%;
        border-bottom: 8px solid gray;
        text-align: left;
        color: red;
    }
    
    .wrapper {
    
        background:none;
        width: 80%;
        padding: 1%;
        position: relative;
        left: 10%;
    }
    
    .txt {
        padding: 5%;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .profile-pic {
        width: 300px;
        float: left;
    }
    
    #footer {
        position: relative;
        margin: 0px;
        border: 0px;
        padding: 20px;
        height: 100px;
        background-color: black;
        color: #ffffff;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    } 
    
    /* css styles for the portfolio page */
    .album {
        background:none;
        width: 80%;
        padding: 1%;
        position: relative;
        left: 10%;
        display: flex;
        flex-flow: row wrap;
    }

    .left {
        width: 450px;
        background-color:none;
        border:0;
        position: relative;
        left: 10%;
        top:0;
    }

    .p-title {
        position: relative;
        cursor: pointer;
        top: 60%;
        font-size: 32px;
    }

    .port:hover {
        opacity: 0.5;
        cursor: pointer;
        width: 82%;
    } 

    

    /* css styles for the contact page */
    .wrapper-cont {
        /* background-color: #f24150; */
        position: relative;
        top: 50px;
        height: 550px;
        width: 70%;
        left: 15%;
    }
    
    .form {
        margin-top: 50px;
    }
    
    .formHead {
        width: 80%;
        position: relative;
        left: 10%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        padding-bottom: 10px
    }
    
       
    .form-control {
        width: 80%;
        background-color: white;
        position: relative;
        left:10%;
        margin-bottom: 20px;
    }
        
    input {
        height: 45px; 
    }
        
    .sub {
        background-color: black;
        margin-top: 50px;
        color: #ffffff;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
        
    .sub:hover {
        background-color: #f24150;
        cursor: pointer;
    }
    
    
    .icon {
        height: 50px;
    }
    
    .icon:hover {
        height: 75px;
        opacity: 0.5;
        cursor: pointer;
    }
    

    
}
